.search{
    margin-top: 0.7rem;
    margin-left: 45rem;
    width: 35%;
}

.box{
    background-image: linear-gradient(#a4edfb, #e5edef);
    padding: 27px;
    border-radius: 21px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif; 
  }